body {
    font-family: "Verdana", "Arial", sans-serif;
    padding: 0 36px;
}

h1 {
    background-color: #ffa500;
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 36px;
    border-bottom: 2px solid #ffa500;
}

p,
li {
    font-size: 18px;
}

li {
    margin-bottom: 12px;
}

a {
    color: #000000;
}

img {
    height: 350px;
    width: 350px;
}